<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061323260325-7ec49ti1rrh1hnonj7ttmphul8imncvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061323260325-7ec49ti1rrh1hnonj7ttmphul8imncvm</string>
	<key>API_KEY</key>
	<string>AIzaSyAC18M7s-C13IaegyrKjRRb_unp2_d6Gqw</string>
	<key>GCM_SENDER_ID</key>
	<string>1061323260325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MK.RunRoute</string>
	<key>PROJECT_ID</key>
	<string>runroute-8bfa2</string>
	<key>STORAGE_BUCKET</key>
	<string>runroute-8bfa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061323260325:ios:05fc340212bfea533f684c</string>
	<key>DATABASE_URL</key>
	<string>https://runroute-8bfa2.firebaseio.com</string>
</dict>
</plist>